/* HeaderComponent.css */

/* Styling for the navbar */
.navbar {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #000000; /* Adjust the color as needed */
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
    font-size: larger;
    padding-inline-start: 55px;
    
   
}

.nav-item a:hover {
    color: #f2478b; /* Change color on hover */
}
.navbar .main-menu-button {
    padding: 10px;
}

.dropdown-menu.active {
     
    display: flex;
  }
  /* Styling for the dropdown menu */
  .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    /* Adjust right property for right alignment */
    right: 0; /* This will align the dropdown to the right */
    padding: 100px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
  }
  .navbar:hover .dropdown-menu {
    display: flex;
  }
  
  .dropdown-menu li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
  }
  
  .dropdown-menu li a:hover {
    color: #ff4500; /* Change color on hover */
  }
  
  /* Styling for the main menu button */
  .main-menu-button {
    background: palevioletred;
    border: none;
    cursor: pointer;
    font-size: 28px;
  }
  
  .main-menu-button:focus {
    outline: none;
  }
  /* Add this CSS to your HeaderComponent.css file */

/* Styling for the dropdown */
.dropdown {
    position: relative;
  }
  
  .dropdown-button {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  