/* App.css */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(218, 218, 216);
  background-color: #f1c3ec;
  opacity: 0.8;
}
.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  border: 1px solid #080000;
  border-radius: 3px;
  font-size: 16px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 375px;
  padding: 12px;
  background-color: #f596eb;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f57ef7;
}


body{
  background-image: url(https://www.hellomagazine.com/imagenes/healthandbeauty/hair/20210223107500/when-will-uk-hairdressers-reopen/0-518-595/hairdressers-t.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contain {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(218, 218, 216);
  background-color: #f1c3ec;
  opacity: 0.8;
}

.contain h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.formgroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  border: 1px solid #080000;
  border-radius: 3px;
  font-size: 16px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 375px;
  padding: 12px;
  background-color: #2474c9;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2026e3;
}

header {
  background-color:transparent;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}


header nav ul {
  list-style: none;
  padding: 100;
}

header nav ul li {
  display: inline;
  margin-left : 80%;
}

header nav ul li:last-child {
  margin-left: 50px;
}

header nav ul li a {
  text-decoration: dotted;
  color: #ef46b7;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.8s;
}

header nav ul li a:hover {
  color: #750547;
}


.typewriter h1 {
  color: #ef46b7;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid rgb(253, 48, 116); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 10s steps(30,end),
    blink-caret 10s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:transparent}
}